@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #70c5ce;
  user-select: none;
  overflow: hidden;
}

header {
  text-align: center;
  width: 100%;
  max-width: 431px;
}

h1 {
  background: url("https://i.ibb.co/Q9yv5Jk/flappy-bird-set.png") 0% 340px;
  padding: 1.2rem 0;
  margin: 0;
  background-size: cover;
}

.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #5EE270;
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: calc(100vh - 100px); /* Adjust for header height */
}
